<app-header></app-header>
<app-showcase-slider></app-showcase-slider>
<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="fa fa-cog fa-3x mb-2"></i>
                <h3>Turning Gears</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fa fa-cloud fa-3x mb-2"></i>
                <h3>Sending Data</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fa fa-cart-plus fa-3x mb-2"></i>
                <h3>Making Money</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
            </div>
        </div>
    </div>
</section>

<!---------------------- Planos ---------------------->
<section class="section-plans">
    <div class="container title-plan">
        <h2>Escolha um de nossos planos</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="plan-box">
                <div>
                    <h3>Basic - 5MB</h3>
                    <p class="plan-price">R$60,00 <span>/ mês</span></p>
                    <p class="plan-price-meal">That's only 13.30$ per meal</p>
                </div>
                <div>
                    <ul>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>1 meal every day
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Order 24/7
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Access to newest creations
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Taxa de instalação
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="plan-box">
                <div>
                    <h3>Standard - 15MB</h3>
                    <p class="plan-price">R$75,00 <span>/ mês</span></p>
                    <p class="plan-price-meal">That's only 13.30$ per meal</p>
                </div>
                <div>
                    <ul>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>1 meal every day
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Order 24/7
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Access to newest creations
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Taxa de instalação
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="plan-box">
                <div>
                    <h3>Premium - 25MB</h3>
                    <p class="plan-price">R$90,00 <span>/ mês</span></p>
                    <p class="plan-price-meal">That's only 13.30$ per meal</p>
                </div>
                <div>
                    <ul>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>1 meal every day
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Order 24/7
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Access to newest creations
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>Taxa de instalação
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>