/*------------------------------------------------*/
/* CIDADES */
/*-------------------------------------------------*/
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  /* segredo para alinhar texto e icon*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -2px;
}

a:link,
a:visited {
  color: #555;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
}